.secondaryButton{
    background-color: var(--background-dark);
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    padding: 0.4em 1.1em;
    border-radius: 2em;
    cursor: pointer;
    border: 1px solid var(--background-grey);
}